name: Preview
on:
  push:
    branches: 
      - dev
    paths:
      - 'src/*'
      - 'build/*'
env:
  release_tag: preview
jobs:
  Update:
    if: github.actor != 'github-actions'
    runs-on: ubuntu-latest
    steps:
    - name: 初始化Node.js环境
      uses: actions/setup-node@v3
    - name: 拉取最新代码
      uses: actions/checkout@v3
      with:
        ref: dev
    - run: |
        git config --global user.name github-actions
        git config --global user.email github-actions@github.com
    - name: 修改版本号
      run: npm version patch
    - name: 保存版本号
      run: git push
  Release:
    needs: Update
    if: github.actor != 'github-actions'
    runs-on: ubuntu-latest
    steps:
    - name: 初始化Node.js环境
      uses: actions/setup-node@v3
    - name: 拉取最新代码
      uses: actions/checkout@v3
      with:
        ref: dev
    - name: 预处理
      run: npm run preprocess -- $release_tag
    - name: 安装依赖项
      run: npm ci
    - name: 编译
      run: npm run build
    - name: 后处理
      run: npm run postprocess
    - uses: martinbeentjes/npm-get-version-action@v1.3.1
      id: package-version
    - name: 发布新版本
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "${{ env.release_tag }}"
        prerelease: true
        title: "[开发版] ${{ steps.package-version.outputs.current-version }}"
        files: |
          temp/*.user.js
          temp/*.mata.js